:root {
    --bg-color-dark: #080e26; /* Cor de fundo para o tema escuro */
    --text-color-dark: #efefec; /* Cor do texto para o tema escuro */
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-color-dark); /* Aplica a cor de fundo escura */
    color: var(--text-color-dark); /* Aplica a cor do texto escuro */
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-color-dark); /* Define a cor de fundo da aplicação */
    background-size: cover;
    background-position: center;
}
