/* styles.css */

.menu-item:hover {
  color: #0070f3; /* Cor ao passar o mouse */
}

.dark .menu-item {
  color: #fff; /* Cor para o modo escuro */
}

.dark .menu-item:hover {
  color: #0070f3; /* Cor ao passar o mouse no modo escuro */
}

.menu-list {
  display: flex;
  gap: 10px; /* Ajuste conforme necessário */
}